html {
  margin: 0;
}

h1 {
  color: #ecf0f1;
  font-size: 120pt;
  -webkit-margin-before: 0.4em;
  justify-content: center;
}

body {
  background-color: #2c3e50;
}

.stack {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
}

#submit {
  max-width: 30%;
}

.buttonStyle {
  color: #2c3e50;
  font-size: 14pt;
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  background-color: #f39c12;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(30,30,30,0.5);
  transition: 0.5s;
}

.buttonStyle:hover {
  background-color: #ffb935;
}

#main-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#input {
  font-family: "Cambria Math";
  font-size: 60pt;
  border: none;
  background-color: #40637b;
  border-bottom: solid 2px #40637b;
  padding: 5px;
  transition: 0.5s;
}

#input:focus {
  outline: none;
  border-bottom: solid 2px #ffb935;
}

.result-item {
  background-color: #ecf0f1;
  border-radius: 4px;
  font-family: "Cambria Math";
  font-size: 40pt;
  padding: 5px;
  margin: 10px 0 0;
}

.result-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#options {
  display: flex;
  flex-direction: row;
}

#select {
  margin-top: 20px;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 14pt;
}

#param {
  margin-top: 20px;
  font-size: 14pt;
  margin-left: 20px;
  border: none;
  background-color: #40637b;
  border-bottom: solid 2px #40637b;
  padding: 5px;
  transition: 0.5s;
  font-family: "Cambria Math";
}

#param:focus {
  outline: none;
  border-bottom: solid 2px #ffb935;
}

#text-selection {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18pt;
}