<!DOCTYPE html>
<html>

<head>
  <title>Mathengine</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="main-content">
  <h1>Enter a query:</h1>
  <div class="stack">
    <input type="text" id="input" autofocus>
    <div id="options">
      <button id="submit" class="buttonStyle">Calculate</button>
      <select id="select">
        <option value="evaluate">Evaluate</option>
        <option value="differentiate">Differentiate</option>
        <option value="solve">Solve System</option>
        <option value="simplify">Simplify</option>
      </select>
      <span id="text-selection">at x =</span><input type="text" id="param">
    </div>
    <div id="result-list"></div>
  </div>
</div>

<script src="evaluate.js"></script>

</body>

</html>