<!DOCTYPE html>
<html>

    <head>
        <title>Mathengine</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

    <h1>Welcome</h1>
    <textarea id="input">Input</textarea>
    <button id="submit">Submit</button>

    <p id="result"></p>

    <script src="evaluate.js"></script>

    </body>

</html>