<!DOCTYPE html>
<html>

    <head>
        <title>Mathengine</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

    <h1>Welcome</h1>
    <form>
        <textarea>Input</textarea>
        <input type="submit">
    </form>

    </body>

</html>